@import './colors';
@import './landingpage';
@import './buttons';
@import './nav';
@import './home';
@import './habits';

@font-face {
  font-family: 'Apercu';
  src: url('../assets/fonts/Apercu_Regular.otf') format('woff'), /* Pretty Modern Browsers */
}

body {
  font-family: 'Apercu' !important;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.fas {
  font-size: 2rem;
}

.p-bigger {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.p-tb-10 {
  padding: 10rem 0;
}

.p-tb-7 {
  padding: 7rem 0;
}

.navy-text {
  color: $navy;
}

.gold-link {
  color: $gold;
  font-size: 1.2rem;
}

.line {
  border-bottom: 1px solid black;
}

.il-block {
  display: inline-block;
}

.icon {
  height: 3.5rem;
}

.lds-ring {
  width: 64px;
  height: 64px;
}
.lds-ring div {
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 0px auto;
  border: 6px solid $light-gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: $light-gray transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
