@import './colors';
@import './landingpage';
@import './buttons';
@import './nav';
@import './home';
@import './habits';
@import './loader';
@import './footer';
@import './formatting';

@import '~pretty-checkbox/src/scss/variables';

$pretty--colors:(
  primary:#3f51b5,
  info:#00bcd4,
  success:$navy,
  warning:$pretty--color-warning, // default
  danger:$pretty--color-danger //default
);

@import '~pretty-checkbox/src/pretty-checkbox.scss';

$pretty--color-success:$navy !important;

@font-face {
  font-family: 'Apercu';
  src: url('../assets/fonts/Apercu_Regular.otf') format('woff'), /* Pretty Modern Browsers */
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
  font-family: 'Apercu' !important;
}

.body-wrapper {
  min-height: 80vh;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.fas {
  font-size: 1.4rem;
}

.p-big {
  font-size: 1.6rem;
  line-height: 2.5rem;
}

.line {
  border-bottom: 1px solid black;
}

.icon-pic {
  height: 3.5rem;
}

.cross-through {
  text-decoration: line-through;
}
