@import './colors';
@import './landingpage';
@import './buttons';
@import './nav';
@import './home';
@import './habits';
@import './loader';
@import './footer';
@import './formatting';
@import './managefriends';
@import './settings';
@import './journal';
@import './cards';
@import './feed';
@import './font';

html, body {
    max-width: 100%;
    overflow-x: hidden;
    background: #fcfcfc;
}

body {
  font-family: 'Apercu' !important;
}

.body-wrapper {
  min-height: 80vh;
}

.navy-background {
  background: $navy;
}

.line {
  border-bottom: 1px solid $light-gray;
  margin: 0 1.5rem;
}

.icon-pic {
  height: 3.5rem;
}

.header-title {
  color: $navy;
  font-weight: bold;
}

@media (max-width: 768px) {
  .header-title {
    order: 1;
    display: inline-block;
    font-size: 2rem;
  }
}
