.btn-primary {
  background: $blue;
  color: $gold;
  border-color: $blue;
}

.btn-add {
  margin: 0.2rem;
}

.btn-smaller {
  width: 5rem;
  display: inline-block;
}

.btn-nav {
  margin: 0.7rem 2rem 0.7rem 0rem;
  color: $gold;
  background: none;
  border: 2px solid $gold;
  padding: 0.7rem 0.7rem;
  font-weight: bold;
}
