button, button:focus,  {
  outline: none !important;
  box-shadow: none !important;
  position: relative;
}

.btn-primary {
  background: $navy;
  color: $gold;
  border: none;
  border-radius: 0.3rem;
  font-weight: bold;
  transition: .3s;
  padding: 0.5rem 1.25rem;
}

.btn-primary:hover {
  background: $blue;
  box-shadow: 0 6px 10px rgba(0,0,0,.14), 0 0 6px rgba(0,0,0,.09);
}

.btn-primary:focus {
  background: $navy !important;
  color: $gold !important;
  outline: none;
  box-shadow: none;
}

.btn-smaller {
  width: 5rem;
  display: inline-block;
}

.btn-nav {
  margin: 0.7rem 2rem 0.7rem 0rem;
  color: $gold;
  background: none;
  border: 2px solid $gold;
  padding: 0.7rem 0.7rem;
  font-weight: bold;
}

.btn-friend-accept {
  padding: 0.3rem 0.5rem;
  font-weight: normal;
}

.btn-friend-reject {
  padding: 0.3rem 0.5rem;
  border: none;
  border-radius: 0.3rem;
  transition: .3s;
}

.btn-delete-account {
  background: #FF6347;
  color: white;
  border-radius: 0.3rem;
  font-weight: bold;
  transition: .3s;
  padding: 0.5rem 1rem;
}

.btn-delete-account:hover {
  background: #8B0000;
}

.btn-expanding {
  width: 12rem;
  height: auto;
  background: transparent;
  border: none;
  .btn-circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: 2px solid $gold;
    border-radius: 1.625rem;
    .btn-icon {
      transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      background: #fff;
    }
  }
  .btn-expanding-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: $gold;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
}

.btn-expanding .btn-circle .btn-icon.btn-arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.btn-expanding .btn-circle .btn-icon.btn-arrow::before {
  position: absolute;
  content: '';
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid $gold;
  border-right: 0.125rem solid $gold;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.btn-expanding:hover .btn-circle {
  width: 100%;
  border-radius: none !important;
}
.btn-expanding:hover .btn-circle .btn-icon.btn-arrow {
  background: $gold;
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
  border-radius: none !important;

}
.btn-expanding:hover .btn-expanding-text {
  color: $gold;
}
