.circle-container {
  width: 200px;
  height: 200px;
}

.circle-pic {
  object-fit: cover;
  border-radius: 50%;
  width: 85%;
  height: 85%;
}

.CircularProgressbar {
  width: 5rem !important;
  height: 5rem !important;
}

.post-body {
  padding: 0.8rem 1.4rem 0.3rem 1.4rem;
}

.sort-section {
  background: $very-light-gray;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    margin:0 1rem;
  }
}

.comment-icon {
  display: inline;
  cursor: pointer;
}

.like-icon {
  display: inline;
}

.post-header {
  display: flex;
  padding: 0.5rem 0 0 1rem;
}

.comment-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.5rem;
  }
  a {
    font-size: 0.9rem;
  }
  p {
    margin-top: -0.2rem;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  i {
    margin-left: 0.75rem;
  }
}

.comment-block {
  display: flex;
  justify-content:space-between;
  align-items:flex-start;
  margin: 1rem;
  p {
    margin-bottom: 0;
  }
}

.comment-body {
  margin-top: 0.5rem;
  margin-left: 1rem;
  max-width: 60%;
  line-height: 1.25;
}

.post-footer {
  margin: 1rem 0 0 1.2rem;
  display: flex;
  justify-content:space-between;
  align-items:center;
}

.comment-box {
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  width: 150%;
}

.post-container {
}

.comment-box-container {
  // width: 70%;
}

.show-more-div {
  color: $navy;
  margin-left: auto;
  margin-right: 1rem;
  .arrow-move-right {
    transition: .3s;
  }
  &:hover {
    cursor: pointer;
    color: $gold;
    .arrow-move-right {
      transform: translate(0.25rem, 0);
    }
  }
}

.scores-card {
  max-height: 70vh;
  overflow-y: scroll;
}

.icons-box {
  margin-right: 1.5rem;
}
