.mb-10 {
  margin-bottom: 10rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-25 {
  margin-right: 2.5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt--05 {
  margin-top: -0.30rem;
}

.p-tb-10 {
  padding: 10rem 0;
}

.p-tb-7 {
  padding: 7rem 0;
}

.pt-8 {
  padding-top: 8rem;
}

.pr-025 {
  padding-right: 0.25rem;
}

.il-block {
  display: inline-block;
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.clear-float {
  clear:both;
  overflow: hidden;
  height: 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .header-container {
    display: block;
  }
}
