.mb-10 {
  margin-bottom: 10rem;
}

.mt-6 {
  margin-top: 6rem;
}

.p-tb-10 {
  padding: 10rem 0;
}

.p-tb-7 {
  padding: 7rem 0;
}

.pt-8 {
  padding-top: 8rem;
}

.pr-025 {
  padding-right: 0.25rem;
}

.il-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clear-float {
  clear:both;
  overflow: hidden;
  height: 0;
}
