.left-arrow, .right-arrow {
  display: inline-block;
  transition: .3s;
}

.right-arrow:hover {
  transform: translate(0.25rem, 0);
}

.left-arrow:hover {
  transform: translate(-0.25rem, 0);
}

.arrow-icon {
  font-size: 1.9rem !important;
  color: $navy;
}

.button-group {
  order: 3;
}

.habit-icon {
  opacity: 0.5;
}

.add-cat-icon {
  color: $gold;
  float: left;
  font-size: 2rem !important;
}

.habit-icon:hover {
  opacity: 1.0;
}

.individual-habit {
  .pretty {
    white-space: inherit !important;
  }

  .pretty .state label{
    text-indent: 0 !important;
    padding-left: 2rem !important;
  }

  .pretty .state label:after,
  .pretty .state label:before,
  .pretty.p-icon .state .icon {
      top: calc(50% - ((1em + 2px)/2)) !important;
  }
}

@media (max-width: 768px) {
  .arrow-section {
    display: block;
    margin-top: 1rem;
    text-align: center;
    order: 3;
  }
  .button-group {
    display: inline-block;
    order: 2;
    float: right;
  }
  .btn-primary {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
  .arrow-icon, .date-text {
    font-size: 1.25rem !important;
  }
}
