.category-card {
  display: inline-block;
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: left;
  border-radius: 0.3rem !important;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
}

.category-card-header {
  border-top-left-radius: 0.3rem !important;
  border-top-right-radius: 0.3rem !important;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}

.category-card-body {
  padding: 0.8rem;
  margin-left: 2rem;
}

.left-arrow, .right-arrow {
  display: inline-block;
  transition: .3s;
}

.right-arrow:hover {
  transform: translate(0.25rem, 0);
}

.left-arrow:hover {
  transform: translate(-0.25rem, 0);
}

.arrow-icon {
  font-size: 1.9rem !important;
  color: $navy;
}

.button-group {
  order: 3;
}

.habit-icon {
  opacity: 0.5;
}

.add-cat-icon {
  color: $gold;
  float: left;
  font-size: 2rem !important;
}

.habit-icon:hover {
  opacity: 1.0;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 3;
    }
}

@media (max-width: 768px) {
  .arrow-section {
    display: block;
    margin-top: 1rem;
    text-align: center;
    order: 3;
  }
  .button-group {
    display: inline-block;
    order: 2;
    float: right;
  }
  .btn-primary {
    padding: 0.4rem 1rem;
    font-size: 0.9rem;
  }
  .arrow-icon, .date-text {
    font-size: 1.25rem !important;
  }
}
