.dash-card {
  height: 10rem;
  background: $turquoise;
  margin: 1rem;
}

.circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.duration-option {
  display: inline-block;
  margin: 0 2rem;
}

.duration-option:hover {
  text-decoration: underline;
}

.clicked {
  text-decoration: underline;
}

.bar {
  border: 1px solid lightgray;
  height: 1.5rem;
  z-index: -1;
}

.colored-bar {
  height: 1.5rem;
  margin-top: -1.5rem;
}
