.dash-card {
  height: 10rem;
  background: $turquoise;
  margin: 1rem;
}

.circle {
  border: 6px solid $gold;
  border-radius: 50%;
  padding: 1rem;
  width: 4rem;
  height: 4rem;
}

.chart {
  font-family: 'Nunito', sans-serif !important;
}
