.manage-friends-pic {
  width: 3.5rem;
  height: 3.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.friends-pic {
  width: 2.75rem;
  height: 2.75rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 0.75rem;
  margin-left: 0.25rem;
}

.user-link {
  color: $navy;
  font-size: 1.1rem;
  font-weight:bold;
}

.user-link:hover {
  color: $gold;
}

.user-block {
  display: flex;
  align-items: center;
  padding: 1rem;
  a {
    font-size: 1rem;
  }
}

.friend-btn-group {
  margin-left: auto;
}

.scroll-friends {
  max-height: 60vh;
  overflow-y: auto;
}

.search-input {
  height: 2.75rem;
}
