.logo {
  margin: 0.5rem;
  width: 6rem;
}

.logo-link {
  background: url('../images/60-lines.png'), $navy !important;
}

.navbar-dark {
  background: url('../images/60-lines.png'), $navy !important;
}

.side-nav {
  background: $navy;
  background: url('../images/60-lines.png'), $navy !important;
  margin: 6rem 0rem 0 1rem;
  padding: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05) !important;
}

.profile-pic {
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.side-nav-link {
  color: white;
  display: block;
  padding: 0.5rem 1rem;
  cursor:pointer;
}

.side-nav-link:hover {
  color: white;
  text-decoration: none;
}

.side-nav-link.active {
  background-color: $gold;
}

.nav-link {
  color: white;
  cursor:pointer;
}

.nav-link:hover {
  color: white;
}

.nav-link.active {
  text-decoration: underline;
}

.side-nav-section {
  margin-bottom: 1rem;
}

.side-nav-section:hover {
  background-color: $gold;
}

.nav-section {
  margin-bottom: 0.2rem;
}

.hidden {
  display: none;
}

.navbar-toggler {
  outline: none !important;
  border: none;
}

@media (min-width: 990px) {
  .show-on-small {
    display: none !important;
  }
}

@media (max-width: 990px) {
  .show-on-large {
    display: none !important;
  }
}

.animated-icon1 {
  width: 30px;
  height: 20px;
  position: relative;
  margin: 0px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

.animated-icon1 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.animated-icon1 span {
  background: $gold;
}

.animated-icon1 span:nth-child(1) {
  top: 0px;
}

.animated-icon1 span:nth-child(2) {
  top: 10px;
}

.animated-icon1 span:nth-child(3) {
  top: 20px;
}

.animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
