.logo {
  margin: 1rem;
  width: 7rem;
}

.navbar-dark {
  background: $navy !important;
}

.side-nav {
  background: $blue;
  padding-top: 2rem;
  margin-top: -1rem;
}

.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
}

.profile-pic {
  height: 3rem;
  border-radius: 50%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: $gold;
}
