.logo {
  margin: 0.5rem;
  width: 6rem;
}

.logo-link {
  background: url('../images/60-lines.png'), $navy !important;
}

.navbar-dark {
  background: url('../images/60-lines.png'), $navy !important;
}

.side-nav {
  background: $navy;
  background: url('../images/60-lines.png'), $navy !important;
  margin: 6rem 0rem 0 1rem;
  padding: 1rem 0;
  border-radius: 0.3rem;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05)
}

.profile-pic {
  height: 2.5rem;
  border-radius: 50%;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: white;
}

.active {
  background-color: $gold;
}

.nav-section {
  margin-bottom: 1rem;
}

.nav-section:hover {
  background-color: $gold;
}

.hidden {
  display: none;
}
